*{
    background-color: #809b9e;
}

header{
    background-color: #00cc66;
    width: 50%;
    margin: 0 auto;
    height: 200px;
    position: relative;

}

header b{
    position: absolute;
    background-color: #00cc66;
    padding: 10px;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 24px;
    font-family: Arial;
}

nav ul{
    background-color: #1f4060;
    width:50%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    border-top: 5px solid seagreen;
    border-bottom: 5px solid #00284d;
}

nav ul li{
    display: inline-block;
    background-color: #1f4060;
    color: white;
    font-size: 10px;
    margin: 0 auto;
    line-height: 36px;
    width: 96px;
    font-size: 12px;
    font-family: Arial;
    margin-left: 50px;
    text-align: right;
}

.welcome{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.welcome h3{
    background-color: white;
    margin: 0;
    border-top: 40px solid white;
    border-left: 20px solid white;
    font-family: Arial;
}

.welcome p{
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.side-box{
    width: 180px;
    background-color: white;
    float: right;
    margin-right: 25px;
    margin-top: -190px;
    padding: 5px;
    border-bottom: 3px solid dimgrey;
}

.side-box h5{
    background-color: white;
    font-family: Arial;
    margin-top: 10px;
}

.side-box ul{
    background-color: white;
    list-style-type: none;
}

.side-box ul li{
    background-color: white;
}

.side-box ul li a{
    background-color: white;
    font-family: Arial;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.beginner{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.beginner h3{
    background-color: white;
    width: 90%;
    margin: 0;
    border-top: 40px solid white;
    border-left: 20px solid white;
    border-bottom: 1px solid gray;
    font-family: Arial;
}

.beginner p{
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.beginner table{
    background-color: gray;
    width: 90%;
    margin: 0 auto;
}

.beginner table th{
    background-color: lightgray;
    font-size: 12px;
    font-family: Arial;
    text-align: left;
    padding: 5px;
}

.beginner table td{
    background-color: white;
    font-size: 12px;
    font-family: Arial;
    padding: 5px;
}

.col1{
    width: 15%;
}

.col2{
    width: 60%;
    padding-left: 10px;
}

.col3{
    width: 25%;
    padding-left: 10px;
}

.blue-button button{
    background-color: deepskyblue;
    color: white;
    font-family: Arial;
    border: 2px solid deepskyblue;
    width: 100%;
}

.beginner section{
    background-color: lightgray;
    width: 90%;
    margin: 0 auto;
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-size: 32px;
}

.beginner img{
    width: 90%;
    height: 96px;
    margin: 0 auto;
    display: block;
}

.beginner ol{
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.beginner li{
    padding-top: 20px;
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.beginner li b{
    background-color: white;
    font-family: Arial;
    font-size: 12px;
}

.beginner span{
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    color: lightgray;
    padding-left: 20px;
}

span b{
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    color: lightgray;
}

.comments{
    padding-top: 20px;
    background-color: white;
    font-family: Arial;
    font-size: 12px;
    margin: 0 auto;
    width: 50%;
}

.comments h2{
    background-color: white;
    padding-left: 20px;
    margin-bottom: 25px;
}

.comments h3{
    width: 90%; 
    text-align: left; 
    border-bottom: 1px solid lightgray; 
    line-height: 0.1em;
    margin: 30px 0 20px; 
}

.comments span{
    color: lightgray; 
    padding:0 10px; 
    background: white;
    margin-left: 35px;
}

.comments form{
    background-color: white;
}

.comments form label{
    background-color: white;
}

.comments form input{
    background-color: white;
    width: 60%;
    height: 20px;
    margin: 3px;
}

textarea{
    background-color: white;
    width: 90%;
    height: 125px;
    margin: 30px auto;
    display: block;
    margin-bottom: 0;
}

.email{
    margin-left: 96px;
}

.display{
    margin-left: 52px;
}

.website{
    margin-left: 84px;
}

.but-div{
    background-color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    
}

.button{
    display: block;
    height: 35px;
    width: 90%;
    background: darkred;
    color: white;
    text-decoration: none;
    line-height: 35px;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;
}

.feedback-img{
    background-color: white;
    border-left: 1px solid lightgray;
    border-top: 10px solid white;
}

.feedback-img img{
    background-color: white;
    float: left;
    margin-left: 20px;

}
.feedback-img strong{
    margin-left: 10px;
    background-color: white;
}

.feedback-img p{
    background-color: white;
    margin-left: 80px;
    color: lightgray;
    height: 25px;
    margin-bottom: 0;

}

.feedback-comments p{
    background-color: white;
    padding-left: 20px;
    margin: 0;
    border-left: 1px solid lightgray;
}

.feedback{
    background-color: white;
    padding-left: 50px;
}

.last-p{
    padding-bottom: 30px;
}